{%- liquid
  if section.settings.svg_logo != blank
    assign logo_type = 'vector'
    assign logo = section.settings.svg_logo
  elsif section.settings.logo != blank
    assign logo_type = 'image'
    assign logo = section.settings.logo
  else
    assign logo_type = 'text'
  endif

  assign logo_width = section.settings.logo_max_width
  assign logo_double_width = section.settings.logo_max_width | times: 2
  assign logo_height = logo_width | divided_by: logo.aspect_ratio | round
-%}

<header class="header container sm-down-edge-to-edge logo-center__menu-left" data-sticky-behavior="none">
  <div class="header-content">
    <div class="header-item --left"></div>
    <div class="header-item --center p-24">
      <div class="header-logo">
        {%- if logo_type == 'image' -%}
          <img
            class="site-logo --image"
            width="{{ logo_width }}"
            height="{{ logo_height }}"
            src="{{ logo | image_url: width: logo_double_width }}"
            alt="{{ shop.name }}" />
        {%- elsif logo_type == 'vector' -%}
          {%- assign logo = logo | replace: 'script', '' -%}
          <div class="site-logo --svg" style="max-width: {{ logo_width | append: 'px' }};">
            {{ logo }}
          </div>
        {%- endif -%}
        <h1 class="site-logo --text{% if logo_type != 'text' %} visually-hidden{% endif %}">{{ shop.name }}</h1>
      </div>
    </div>
    <div class="header-item --right"></div>
  </div>
</header>

{% schema %}
  {
    "name": "t:sections.password-header.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.password-header.settings.header_for_logo.content",
        "info": "t:sections.password-header.settings.header_for_logo.info"
      }, {
        "type": "image_picker",
        "id": "logo",
        "label": "t:sections.password-header.settings.logo.label",
        "info": "t:sections.password-header.settings.logo.info"
      }, {
        "type": "html",
        "id": "svg_logo",
        "label": "t:sections.password-header.settings.logo.label",
        "info": "t:sections.password-header.settings.logo.info"
      }, {
        "type": "range",
        "id": "logo_max_width",
        "label": "t:sections.password-header.settings.logo_max_width.label",
        "default": 120,
        "min": 30,
        "max": 300,
        "step": 10,
        "unit": "px"
      }
    ]
  }
{% endschema %}